body {
  font-size: 62.5%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat';
}

h2 {
  font-size: 2rem;
}
.completed {
  text-decoration: line-through;
  color: lightgray;
}

button, input, p {
  font-size: 1.6rem;
}

button, input {
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Montserrat';
}

button {
  color: white;
  background-color: dodgerblue;
}
